.navbarStyle {
  z-index: 99;
  position: absolute;
  top: 0;
  height: 4.5rem;
  backdrop-filter: blur(30%);
}
.nav {
  margin: auto;
}

.nav ul li a {
  color: var(--text-color);
  font-family: var(--heading-font);
  letter-spacing: 0.2em;
}

.nav ul li a:hover {
  color: var(--text-color);
}
